:root {
 --primary: #0077b6; /* Deep Blue */
 --secondary: #f4a261; /* Soft Orange */
 --accent: #e9f5ff; /* Light Blue */
 --dark: #1b263b; /* Dark Navy */
 --light: #f8f9fa; /* Soft Off-White */

 font-family: "Urbanist", sans-serif;
 font-size: 16px;
 background-color: var(--light);
 color: var(--dark);
}


/* -- BUTTONS -- */
button {
 font-size: 1rem;
 background: var(--primary);
 color: white;
 border: none;
 border-radius: 0.5rem;
 cursor: pointer;
 transition: background 0.2s ease-in-out, transform 0.1s ease-in-out;
}

button:hover {
 background: var(--secondary);
 transform: scale(1.05);
}

/* -- LOADER -- */
.loader-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2rem;
}

.content-loader {
 width: 4rem;
 height: 4rem;
 border: 0.6rem solid #bbb;
 border-top: 0.6rem solid var(--primary);
 border-radius: 50%;
 margin: 1rem auto;
 animation: spin 1.5s linear infinite;
}

@keyframes spin {
 to {
  transform: rotate(360deg);
 }
}

